<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a2020build2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StarterActivity"
            android:label="@string/title_activity_starter"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />//设置主活动
                <category android:name="android.intent.category.LAUNCHER" />//是否显示在应用列表
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivitiesActivity"
            android:label="@string/title_activity_activities"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MeActivity"
            android:label="@string/title_activity_me"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ClubActivity"
            android:label="@string/title_activity_club"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DynamicActivity"
            android:label="@string/title_activity_dynamic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomepageActivity"
            android:label="@string/title_activity_homepage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FragmentTabHostActivity"
            android:label="@string/title_activity_fragment_tab_host"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>

    </application>

</manifest>